#pyramid {
    line-height: 0;
    font-size: 30px;
    white-space: pre
}

body {
    font-family: "Courier New", monospace;
    text-align: center;
}

#pyramid-title {
    font-family: "Courier New", monospace;
    font-size: 30px;
    color: lightgray;
    font-weight: bold;
    background-color: palevioletred;
    padding: 5px;
}
#brick-shell {
    font-weight: bold;
}
#height-shell{
    font-weight:bold;    
}
#choices{
    background-color: darkgray;
}

#container{
    border-style: solid;
    border-width: 3px;
    border-color: palevioletred;
    border-radius: 5px;
    margin: 20px;
    background-color: lightgray;
}
#pyramid{
    font-weight: bold;
    color: palevioletred;
    background-color: lightgray
}